INST "Clock_BUFGP" LOC = BUFGMUX_X1Y11;
NET "Clock" LOC = C9;
NET "Reset" LOC = L13;
NET "Reset" IOSTANDARD = LVTTL;
NET "Reset" PULLDOWN;

NET "VGA_RED"  LOC        = R12;
NET "VGA_RED"  IOSTANDARD = LVCMOS33;
NET "VGA_RED"  DRIVE      = 4;

NET "VGA_GREEN"  LOC        = T12;
NET "VGA_GREEN"  IOSTANDARD = LVCMOS33;
NET "VGA_GREEN"  DRIVE      = 4;

NET "VGA_BLUE"  LOC        = R11;
NET "VGA_BLUE"  IOSTANDARD = LVCMOS33;
NET "VGA_BLUE"  DRIVE      = 4;

NET "VGA_HSYNC"  LOC        = R9;
NET "VGA_HSYNC"  IOSTANDARD = LVCMOS33;
NET "VGA_HSYNC"  DRIVE      = 4;

NET "VGA_VSYNC"  LOC        = T10;
NET "VGA_VSYNC"  IOSTANDARD = LVCMOS33;
NET "VGA_VSYNC"  DRIVE      = 4;
