INST "Clock_BUFGP" LOC = BUFGMUX_X1Y11;
NET "Clock" LOC = C9;
NET "Reset" LOC = L13;
NET "Reset" IOSTANDARD = LVTTL;
NET "Reset" PULLDOWN;

NET "LCD_E"  LOC        = M18;
NET "LCD_E"  IOSTANDARD = LVCMOS33;
NET "LCD_E"  DRIVE      = 4;

NET "LCD_RS" LOC        = L18;
NET "LCD_RS" IOSTANDARD = LVCMOS33;
NET "LCD_RS" DRIVE     = 4;

NET "LCD_RW" LOC        = L17;
NET "LCD_RW" IOSTANDARD = LVCMOS33;
NET "LCD_RW" DRIVE     = 4;

NET "SF_D[0]" LOC        = R15;
NET "SF_D[0]" IOSTANDARD = LVCMOS33;
NET "SF_D[0]" DRIVE      = 4;

NET "SF_D[1]" LOC        = R16;
NET "SF_D[1]" IOSTANDARD = LVCMOS33;
NET "SF_D[1]" DRIVE      = 4;

NET "SF_D[2]" LOC        = P17;
NET "SF_D[2]" IOSTANDARD = LVCMOS33;
NET "SF_D[2]" DRIVE      = 4;

NET "SF_D[3]" LOC        = M15;
NET "SF_D[3]" IOSTANDARD = LVCMOS33;
NET "SF_D[3]" DRIVE      = 4;

NET "SF_CE0"  LOC        = D16;
NET "SF_CE0"  IOSTANDARD = LVCMOS33;
NET "SF_CE0"  DRIVE      = 4;