INST "Clock_BUFGP" LOC = BUFGMUX_X1Y11;
NET "Clock" LOC = C9;
NET "Reset" LOC = L13;
NET "Reset" IOSTANDARD = LVTTL;
NET "Reset" PULLDOWN;

#Buttons
NET "BTN_EAST" LOC = H13;
NET "BTN_EAST" IOSTANDARD = LVTTL;
NET "BTN_EAST" PULLDOWN;
#NET "BTN_EAST" CLOCK_DEDICATED_ROUTE = FALSE;

NET "BTN_NORTH" LOC = V4;
NET "BTN_NORTH" IOSTANDARD = LVTTL;
NET "BTN_NORTH" PULLDOWN;
NET "BTN_NORTH" CLOCK_DEDICATED_ROUTE = FALSE;

NET "BTN_SOUTH" LOC = K17;
NET "BTN_SOUTH" IOSTANDARD = LVTTL;
NET "BTN_SOUTH" PULLDOWN;
#NET "BTN_SOUTH" CLOCK_DEDICATED_ROUTE = FALSE;

NET "BTN_WEST" LOC = D18;
NET "BTN_WEST" IOSTANDARD = LVTTL;
NET "BTN_WEST" PULLDOWN;
NET "BTN_WEST" CLOCK_DEDICATED_ROUTE = FALSE;

#VGA
NET "VGA_RED"  LOC        = H14;
NET "VGA_RED"  IOSTANDARD = LVTTL;
NET "VGA_RED"  DRIVE      = 8;

NET "VGA_GREEN"  LOC        = H15;
NET "VGA_GREEN"  IOSTANDARD = LVTTL;
NET "VGA_GREEN"  DRIVE      = 8;

NET "VGA_BLUE"  LOC        = G15;
NET "VGA_BLUE"  IOSTANDARD = LVTTL;
NET "VGA_BLUE"  DRIVE      = 8;

NET "VGA_HSYNC"  LOC        = F15;
NET "VGA_HSYNC"  IOSTANDARD = LVTTL;
NET "VGA_HSYNC"  DRIVE      = 8;

NET "VGA_VSYNC"  LOC        = F14;
NET "VGA_VSYNC"  IOSTANDARD = LVTTL;
NET "VGA_VSYNC"  DRIVE      = 8;



#Keyboard
NET "PS2_CLK" LOC = "G14" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "PS2_CLK" CLOCK_DEDICATED_ROUTE = FALSE;
NET "PS2_DATA" LOC = "G13" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
